.App {
  text-align: center;
  background-color: #e8ecf1;
  padding: 30px;
}

h2 {
	color: #6c7a89;
	margin: 10px;
	text-shadow: 5px 5px 10px #888888;
}

button {
	margin: 10px;
	box-shadow: 5px 5px 10px #888888;
}


.norm-zone {
	color: green;
}

.breaked-zone {
	color: red;	
}

.shorted-zone {
	color: red;
}

.faulted-zone {
	color: #ead917;
}

.no-info-zone {
	color: grey;
	/*visibility: hidden;*/
}

.red {
	color: red;
}

.green {
	color: green;
}

.grey {
	color: grey;
}

.blue {
	color: #0d19a5;
}

.hide {
	display: none;
}

.ppkCard {
  list-style-type: none;  
  padding: 0;
  width: 600px;
  margin: auto;
  margin-bottom: 30px;
  background-color: #d2d7d3;
  padding: 10px;
  border-radius: 20px;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  text-shadow: 3px 3px 7px #abb7b7;
  box-shadow: 7px 7px 35px #888888;
  border: 3px solid #abb7b7;
}

li {
	padding: 1px;
	font-family: sans-serif;
}

.ppkNumber {
	background-color: #67809f;
	color: white;
	border-radius: 17px;
	font-weight: bold;
	width: 300px;
	margin: auto;
	margin-bottom: 10px;
	padding: 4px;
	font-size: 18px;
	box-shadow: 6px 6px 7px #abb7b7;
}

.ppkModel {
	color: "#0d19a5";
}
		
button:hover {
  transform:scale(1.1,1.1);
  -webkit-transform:scale(1.1,1.1);
  -moz-transform:scale(1.1,1.1);
}

li:hover {
  transform:scale(1.1,1.1);
  -webkit-transform:scale(1.1,1.1);
  -moz-transform:scale(1.1,1.1);
}

.formInput {
	max-width: 90vh;
	margin: auto;
}

.form-control, .input-group-text {
	border-radius: 5px;
	background-color: #343a40;
	color: white;
	box-shadow: 5px 5px 10px #888888;
}

.formForKeyPass {
	width: 60%;
	margin: auto;
}

.current-key-pass {
	color: #6d6d6d;
	font-weight: bold;
	margin: 5px;	
	font-family: Arial Black;
}

.userInfo {
	color: #6d6d6d;
	font-weight: bold;
	margin: 0px;
	font-size: 80%;
}

label {
	font-family: sans-serif;
	color: #6c7a89;	
	text-shadow: 3px 3px 5px #abb7b7;
	font-weight: bold;
}

@media screen and (max-width: 992px) {
    .ppkCard {
		width: 85%;
	}
	
	.ppkName {
		width: 80%;
	}
  
}
